<footer class="small">
  <div class="o-container u-mxa u-mb3 u-px3@md u-py5@md">
    <div class="o-col--4/12@md">
      <h4 class="h6">{{ site.title }}</h4>
      <p>{{ site.description }}</p>
      <ul class="list--reset u-w700 u-caps">
        <li class="u-inbl u-py2 u-pr2">
          <a href="{{ site.github }}">GitHub</a>
        </li>
        <li class="u-inbl u-py2 u-pr2">
          <a href="{{ site.twitter }}">Twitter</a>
        </li>
        <li class="u-inbl u-py2 u-pr2">
          <a href="{{ site.npm }}">npm</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
